.index-container {
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.text-container {
    color: #fff;
    flex: 1;
    display: flex;
    justify-content: center;
    line-height: 1.9em;
}

.text-container p {
    margin: auto 1em;
    font-size: 1.5em;
}

.text-container span {
    color: #F64060;
    font-weight: 700;
}


.index-links {
    text-decoration: none;
    margin: 0.6em;
    width: 90%;
    padding: 0.5em 0;
    font-size: 2em;
    text-align: center;
    color: #fff;
    border-radius: 4rem;
    border: solid #fff 2px;
    transition: background-color 0.2s;
}

.index-links:hover{
    color:#F64060;
    background: #fff;
}

.link-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Mobile */
@media (max-width:900px) {
    .index-container {
        flex-direction: column;
    }

    .link-container {
        width: 100%;
        display: flex;
        justify-content: end;
        padding-top: 2em;
    }
}