/* Upload Input Styles */
[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
    order: 5;
}


[type="file"]+label {
    background-color: #F64060;
    border-radius: 2rem;
    color: #fff;
    display: block;
    margin-bottom: 2em;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5em 4em;
    transition: background-color 0.2s;
    text-align: center;
}

[type="file"]:focus+label,
[type="file"]+label:hover {
    background-color: #fff;
    color: #F64060;
}

[type="file"]:focus+label {
    outline: 1px solid;
}

[type="url"] {
    width: 100%;
    border-radius: 0.2rem;
    border:none;
    padding:0 0.5em;
}

[type="url"]+label {
    margin-right: 0.5em;
}

/* Submit Button Styles */
[type="submit"] {
    cursor: pointer;
    color: #fff;
    background: #F64060;
    border: none;
    padding: 0.5em 4em;
    border-radius: 2rem;
    margin-top: 1em;
    transition: background-color 0.2s;
}

[type="submit"]:hover {
    color: #F64060;
    background: #fff;
}